.service_card {
  padding: 1rem;
  background-color: #eeeeee;
  /* min-width: 275px; */
  position: relative;
  cursor: pointer;
}

.service_card:hover {
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.335);
}

.title {
  color: var(--lighter-black);
  border-bottom: 1px solid var(--lighter-black);
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
}

.service_types p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.delete,
.edit {
  position: absolute;
  padding: 0.2rem 0.5rem;
  background-color: var(--danger-color-light);
  top: 0;
  right: 0;
}

.edit {
  background-color: #656565;
  right: 30px;
}

.delete:hover {
  background-color: var(--danger-color);
}
