.navigation_wrapper {
  margin-bottom: 1rem;
}

.navigation {
  background-color: var(--primary-color);
  display: flex;
  list-style-type: none;
  margin-bottom: 1rem;
}

.navigation li {
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}

.navigation li:hover {
  background-color: var(--primary-color-light);
}

@media (max-width: 560px) {
  .navigation {
    display: none;
  }
}
