.card {
  text-align: center;
  width: 25%;
  min-width: 300px;
  padding: 1rem;
  box-shadow: 0px 1px 11px -6px #0000007a;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem;
  margin-bottom: 2rem;
}

.staffs_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card .ant-avatar {
  width: 150px;
  height: 150px;
}

@media (max-width: 450px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
}
